
body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One',sans-serif ;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: white;
    margin: 10px 510px 10px 20px;
    /* text-decoration: dashed; */
}

h1 strong {
    color: #026fff;    
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0px;
}

.header{
    background-color: #1b2127;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1b2127;
}

.project{
    border: 2px solid gray;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    /* border-top-left-radius: 10px; */
}

.project-details{
    /* display: flex; */
    width: 500px;
    margin: 0px;
}

.project-imageContainer{
    width: 500px;
    /* display: flex; */
}

/* 
.flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    flex-shrink: 0;
    margin: 20px;
} */