
body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One',sans-serif ;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: white;
    margin: 0px;
    /* margin: 10px 510px 10px 20px; */
    /* text-decoration: dashed; */
}

h1 strong {
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0px;
}

header img{
    height: 50px;
    /* padding: 20px 0px; */
}

.header{
    background-color: #1b2127;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1b2127;
    display: flex;
    align-items: center;
}

.portfolio{
    background-color: whitesmoke;
    padding: 20px;
}

.project{
    border: 2px solid gray;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    /* border-top-left-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-details{
    /* display: flex; */
    width: 500px;
    margin: 0px;
}
.project-title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0px;
}

.project-description{
    font-size: 18px;
}

.project strong{
    font-family: 'Fjalla One',sans-serif;
}

.project-imageContainer{
    width: 500px;
    /* display: flex; */
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.event-list-title {
    margin-left: 20px;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event{
    /* border: 1px solid red; */
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
    background-color: ;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -45px;
    padding: 20px;
    background-color: white;
    position: relative;
    text-align: center;
    /* width: 350px; */
}

.event-description{
    text-align: left;
    margin-bottom: 30px;
}

.event-url{
    color: #026fff;
    border: 1px solid #026fff;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.footer img{
    vertical-align: middle;
}

.footer a {
    color: white;
}
/* .flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 300px;
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    flex-shrink: 0;
    margin: 20px;
} */